
@using EncuestasV2.Models;
@model List<encuesta_usuariosCLS>
@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    List<SelectListItem> listaEmp = (List<SelectListItem>)ViewBag.listaEmpresa;
    List<SelectListItem> listaSex = (List<SelectListItem>)ViewBag.listaSexo;
    List<SelectListItem> listaEdades = (List<SelectListItem>)ViewBag.listaEdad;
    List<SelectListItem> listaEdoCivil = (List<SelectListItem>)ViewBag.listaEdoCivil;
    List<SelectListItem> listaOpciones = (List<SelectListItem>)ViewBag.listaOpciones;
    List<SelectListItem> listaProceso = (List<SelectListItem>)ViewBag.listaProceso;
    List<SelectListItem> listaPuesto = (List<SelectListItem>)ViewBag.listaPuesto;
    List<SelectListItem> listaContrata = (List<SelectListItem>)ViewBag.listaContrata;
    List<SelectListItem> listaPersonal = (List<SelectListItem>)ViewBag.listaPersonal;
    List<SelectListItem> listaJornada = (List<SelectListItem>)ViewBag.listaJornada;
    List<SelectListItem> listaRotacion = (List<SelectListItem>)ViewBag.listaRotacion;
    List<SelectListItem> listaTiempo = (List<SelectListItem>)ViewBag.listaTiempo;
    List<SelectListItem> listaExpLab = (List<SelectListItem>)ViewBag.listaExpLab;
}

<style>
html {
  font-family: verdana;
  font-size: 10pt;
  line-height: 25px;
}

table {
  border-collapse: collapse;
  width: 1700px;
  overflow-x: scroll;
  display: block;
}

thead {
  background-color: #EFEFEF;
}

thead,
tbody {
  display: block;
}

tbody {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}

td,
th {
  min-width: 100px;
  height: 25px;
  border: dashed 1px lightblue;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
</style>

<script>
$('table').on('scroll', function() {
  $("table > *").width($("table").width() + $("table").scrollLeft());
});
</script>
<div style="height:500px;overflow:auto;margin-left:10px;">
    <br />
    <h2>Administrador</h2>
    <hr />
    @using (Html.BeginForm("Empleados", "Admin", FormMethod.Post, new { @id = "frmFiltrado" }))
    {
        <a href="@Url.Action("Index", "Admin")" class="btn btn-primary" target="_blank"><i class="fas fa-user-plus"></i><span></span><b> Agregar Nuevo Registro</b></a>
        <a href="@Url.Action("GenerarPDFUsuarios", "Admin")" class="btn btn-danger" target="_blank"><i class="fas fa-file-pdf"></i><span></span><b> Generar PDF</b></a>
        <a href="@Url.Action("generarExcelEmpleados", "Admin")" class="btn btn-success" target="_blank"><i class="fas fa-file-excel"></i><span></span><b> Generar Excel</b></a>
        <a href="@Url.Action("Index", "Admin")" class="btn btn-primary" target="_blank"><i class="fas fa-undo-alt"></i><span></span><b> Regresar a Menu</b></a>



        <table>
            <thead>
                <tr>
                    <th><label>Empresa:</label></th>
                    <th><label>Género:</label></th>
                    <th><label>Edad:</label></th>
                    <th><label>Estado Civil:</label></th>
                    <th><label>Puesto:</label></th>
                    <th><label>Contratación:</label></th>
                    <th><label>Personal:</label></th>
                    <th><label>Jornada:</label></th>
                    <th><label>Tempo en puesto:</label></th>
                    <th><label>Exp Laboral:</label></th>
                </tr>
            </thead>
            <tbody style="height:40px;">
                <tr>
                    <td>
                        @Html.DropDownList("usua_empresa", listaEmp, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_genero", listaSex, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_edad", listaEdades, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_edo_civil", listaEdoCivil, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_tipo_puesto", listaPuesto, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_tipo_contratacion", listaContrata, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_tipo_personal", listaPersonal, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_tipo_jornada", listaJornada, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_tiempo_puesto", listaTiempo, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.DropDownList("usua_exp_laboral", listaExpLab, new { @class = "form-control" })
                    </td>
                </tr>
            </tbody>
        </table>

    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <table>
        <thead>
            <tr>
                <th><label>Acciones</label></th>
                <th><label>Id</label></th>
                <th><label>Nombre</label></th>
                <th><label>Empresa</label></th>
                <th><label>Estatus</label></th>
                <th><label>Usuario</label></th>
                <th><label>Genero</label></th>
                <th><label>Edad</label></th>
                <th><label>Estado civil</label></th>
                <th><label>Tipo Puesto</label></th>
                <th><label>Contratación</label></th>
                <th><label>Tipo personal</label></th>
                <th><label>Tipo jornada</label></th>
                <th><label>Rotación turno</label></th>
                <th><label>Tiempo en puesto</label></th>
                <th><label>Exp Laboral</label></th>
                <th><label>Presento encuesta</label></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("EditarUsuarios", "Admin",new { id = item.usua_id })" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("EliminarUsuarios", "Admin",new { id = item.usua_id })" class="btn btn-danger"><i class="fas fa-trash"></i></a>

                    </td>
                    <td><b>@item.usua_id</b></td>
                    <td><b>@item.usua_nombre</b></td>
                    <td><b>@item.empleado_empresa</b></td>
                    <td><b>@item.usua_estatus</b></td>
                    <td><b>@item.usua_n_usuario</b></td>
                    <td><b>@item.empleado_genero</b></td>
                    <td><b>@item.empleado_edad</b></td>
                    <td><b>@item.empleado_edocivil</b></td>
                    <td><b>@item.empleado_tipopuesto</b></td>
                    <td><b>@item.empleado_tipocontata</b></td>
                    <td><b>@item.empleado_tipopersonal</b></td>
                    <td><b>@item.empleado_tipojornada</b></td>
                    <td><b>@item.empleado_rotacion</b></td>
                    <td><b>@item.empleado_tiempopuesto</b></td>
                    <td><b>@item.empleado_explab</b></td>
                    <td><b>@item.usua_presento</b></td>

                </tr>
            }
        </tbody>
    </table>


</div>

<script>

    var frmFiltrado = document.getElementById("frmFiltrado");

    var controles = document.getElementsByClassName("form-control");
    var ncontoles = controles.length;
    for (var i = 0; i < ncontoles; i++) {
        controles[i].onchange = function () {
            frmFiltrado.submit();
        }

    }

</script>
