@using EncuestasV2.Models;
@model List<encuesta_usuariosCLS>
@{
    ViewBag.Title = "ListarEncuesta";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    List<SelectListItem> listaEmp = (List<SelectListItem>)ViewBag.listaEmpresa;
    List<SelectListItem> listaSex = (List<SelectListItem>)ViewBag.listaSexo;
    List<SelectListItem> listaEdades = (List<SelectListItem>)ViewBag.listaEdad;
    List<SelectListItem> listaEdoCivil = (List<SelectListItem>)ViewBag.listaEdoCivil;
    String ids = "";
    int bandera = 0;
}
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
   
    <script>
        $('table').on('scroll', function () {
            $("table > *").width($("table").width() + $("table").scrollLeft());
        });
    </script>

    <div style="height:600px;overflow:auto;margin-left:10px;">
        <h2>Administrador</h2>
        <hr />
        @using (Html.BeginForm("ListarEncuesta", "Admin", FormMethod.Post, new { @id = "Form" }))
        {

            <table>
                <thead>
                    <tr>
                        <th><label>Empresa:</label></th>
                        <th><label>Genero:</label></th>
                        <th><label>Edad:</label></th>
                        <th><label>Estado civil:</label></th>
                    </tr>
                </thead>
                <tbody style="height:40px;">
                    <tr>
                        <td>
                            @Html.DropDownList("usua_empresa", listaEmp, new { @class = "form-control", @onchange = "alert(this.value);" })
                        </td>
                        <td>
                            @Html.DropDownList("usua_genero", listaSex, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("usua_edad", listaEdades, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("usua_edo_civil", listaEdoCivil, new { @class = "form-control" })
                        </td>
                    </tr>
                </tbody>
            </table>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <table>
                <thead>
                    <tr>
                        <th><label>Id</label></th>
                        <th><label>Nombre</label></th>
                        <th><label>Empresa</label></th>
                        <th><label>Género</label></th>
                        <th><label>Edad</label></th>
                        <th><label>Estado Civil</label></th>
                        <th><label>Estatus</label></th>
                        <th><label>Usuario</label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        ids += @item.usua_id + ",";
                        <tr>
                            <td>@item.usua_id <input type="hidden" id="id_usuario" name="id_usuario" value="@item.usua_id" /></td>
                            <td>@item.usua_nombre</td>
                            <td>@item.empleado_empresa</td>
                            <td>@item.empleado_genero</td>
                            <td>@item.empleado_edad</td>
                            <td>@item.empleado_edocivil</td>
                            <td>@item.usua_estatus</td>
                            <td>@item.usua_n_usuario</td>
                            <td style="display: inline-table;">
                                @Html.ActionLink("Ver Resultado", "VerResultadoUsuario", "Admin", new { id = item.usua_id }, new { @class = "btn btn-primary my-2 my-sm-0" })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

            if (ids.Length > 0)
            {
                ids = ids.Substring(0, ids.Length - 1);
                @Html.ActionLink("Regresar a Menu", "Index", "Admin", new { @class = "btn btn-primary my-2 my-sm-0 " })
                @Html.ActionLink("Resultado por empresa", "VerResultadoPorEmpresa", "Admin", new { ids_usuarios = ids }, new { id = "botonResultadoEmpresas", @class = "btn btn-primary my-2 my-sm-0", @style = "display:none" } )
            }
            else
            {
                @Html.ActionLink("Regresar a Menu", "Index", "Admin", new { @class = "btn btn-primary my-2 my-sm-0 " })
            }

            <input type="hidden" id="id_empresa" value="" />
        }

        <div>
            @*@Html.ActionLink("Regresar al Menu", "Index", new { @class = "btn btn-primary my-2 my-sm-0" })*@
            @*<a href="@Url.Action("Index", "Admin")" class="btn btn-primary" target="_blank"><i class="fas fa-undo-alt"></i><span></span><b> Regresar a Menu</b></a>*@



        </div>

    </div>

<script>
    document.getElementById("id_empresa").value = document.getElementById("usua_empresa").value;
    if (document.getElementById("id_empresa").value != "") {
        document.getElementById("botonResultadoEmpresas").style.display = "inline-block";
    }
</script>

<script>

    var frmFiltrado = document.getElementById("Form");

                var controles = document.getElementsByClassName("form-control");
                var ncontoles = controles.length;
    for (var i = 0; i < ncontoles; i++) {
        controles[i].onchange = function () {
                frmFiltrado.submit();
                }

            }

</script>
