
@{
    ViewBag.Title = "VerResultadoUsuario2";
    int x = 0;
}

<input type="hidden" id="id_usuario" name="id_usuario" value=@ViewBag.id_usuario />
<h5><strong>CUESTIONARIO PARA IDENTIFICAR A LOS TRABAJADORES QUE FUERON SUJETOS A ACONTECIMIENTOS TRAUMÁTICOS SEVEROS.</strong></h5>
<p>Nombre del empleado: <strong>@ViewBag.nombreEmpleado</strong></p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>PREGUNTA</th>
            <th>RESPUESTA</th>
        </tr>
    </thead>
    <!-- Recorro el modelo para imprimir datos -->
    @foreach (var elemento in Model)
    {
        if (elemento.resu_resultado == "SI")
        {
            x = 1;
        }
        <tr>
            <td>@elemento.denc_descrip</td>
            <td>@elemento.resu_resultado</td>
        </tr>
    }
</table>
<div>
    @if (x == 1)
    {
        <strong>El trabajador <u>REQUIERE</u> atención clínica </strong>
        <div>
            @Html.ActionLink("Regresar al Menu", "ListarEncuesta", "Admin", new { @class = "btn btn-primary my-2 my-sm-0" })
            @Html.ActionLink("Siguiente", "VerResultadoUsuario3", "Admin", new { id = @ViewBag.id_usuario }, new { @class = "btn btn-primary my-2 my-sm-0" })
        </div>
    }
    else
    {
        <strong>El trabajador no requiere atención clínica </strong>
        <div>
            @Html.ActionLink("Regresar al Menu", "ListarEncuesta", "Admin", new { @class = "btn btn-primary my-2 my-sm-0" })
            @Html.ActionLink("Siguiente", "EliminarUsuarios", "Admin", new { id = @ViewBag.id_usuario }, new { @class = "btn btn-primary my-2 my-sm-0" })
        </div>
    }
</div>


