<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultoría y Soluciones en Seguridad en el Trabajo</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <style>
        body {
            padding-top: 1px;
        }
    </style>
</head>
<body>

    <!--Header-->
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="images/platzi-logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Inicio", "Agregar", "Usuarios", new { area = "" }, new { @class = "nav-link text-platzi" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Misión y Visión", "Agregar", "Usuarios", new { area = "" }, new { @class = "nav-link text-platzi" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Acerca de la Empresa", "Agregar", "Usuarios", new { area = "" }, new { @class = "nav-link text-platzi" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Iniciar Session", "Index", "Login", new { area = "" }, new { @class = "nav-link text-platzi" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Staff", "Admin", "Usuarios", new { area = "" }, new { @class = "nav-link text-platzi" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/Header-->
    @RenderBody()
    <!--Footer-->
    <footer id="footer" class="pb-4 pt-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg">
                    <a href="#">&copy; @DateTime.Now.Year - Consultoría y Soluciones en Seguridad en el Trabajo</a>
                </div>
                @*<div class="col-12 col-lg">

                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Preguntas</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Términos y condiciones</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Privacidad</a>
                    </div>
                    <div class="col-12 col-lg">
                        <a href="#">Estudiantes</a>
                    </div>*@
            </div>
        </div>
    </footer>
    <!--/Footer-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>*@
</body>
</html>