@model IEnumerable<EncuestasV2.Models.encuaesta_departamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dep_desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dep_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dep_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dep_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dep_id })
        </td>
    </tr>
}

</table>
