@model IEnumerable<EncuestasV2.Models.encuaesta_periodo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.periodo_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodo_estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.periodo_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodo_estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.periodo_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.periodo_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.periodo_id })
        </td>
    </tr>
}

</table>
