@model EncuestasV2.Models.encuaesta_centro

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="container-fluid" style="height:496px;">
        <h2>Editar Centro de Trabajo</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
              
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.centro_id)

            <div class="form-group">
               <label class="control-label col-md-5">Descripción de Centro de Trabajo</label> <div class="col-md-10">
                    @Html.EditorFor(model => model.centro_desc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.centro_desc, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Editar Centro de Trabajo" class="btn btn-default" />
                        @Html.ActionLink("Lista de Centros de Trabajo", "Index", "centro", new { area = "" }, new { @class = "btn btn-primary my-2 my-sm-0" })
                    </div>
                </div>
            </div>
        }

</div>