@model IEnumerable<EncuestasV2.Models.encuesta__departamentoCLS>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int res = 0;
}

<h2>Detalle de Departamento</h2>
@Html.ActionLink("Regresar a Menu", "Index", "Depto", new { @class = "btn btn-primary my-2 my-sm-0 " })
<div>
    <hr />
    <div style="height:500px;margin-left:10px;">

        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.dep_desc)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.dep_empresa)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.dep_empresa_desc)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dep_desc)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.dep_empresa_desc)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.dep_id }) |

                    </td>
                </tr>
            }
        </table>
    </div>

</div>
<p>


</p>

